# Dependencies
node_modules
.pnp
.pnp.js

# Build outputs
.next
dist
build
.turbo

# Env files
.env
.env.local
.env.*.local
!.env.example

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Prisma
packages/db/prisma/migrations/dev.db
packages/db/prisma/migrations/dev.db-journal

# Vercel
.vercel
